.logo {
  font-style: oblique;
  letter-spacing: 1px;
}

nav {
  margin-left: 25px;
  width: 100% !important;
}

.nav_header {
  list-style-type: none;
  overflow: hidden;
  /* padding: 0; */
}

.nav_header li {
  float: left;
  padding: .2em;
}

.nav_header li:last-child {
  float: right;
}

li a {
  display: block;
  padding: 8px 14px;
  color: white;
  text-decoration: none;
}

li a:hover {
  background: #424242;
  /* color: #e91e63; */
}

.container {
  margin: 2em auto;
  width: 70%;
}

.active {
  background: #424242;
  border-radius: 25%;
}
